{{-- @extends('layout.app') --}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {{-- <link rel = "icon" class="img-fluid" href ="" type = "image/x-icon"> --}}
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="skin-blue sidebar-mini">
<!-- BEGIN CONTAINER -->

<!-- END CONTAINER -->

 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header sty-one">
        <h1></h1>
        <ol class="breadcrumb">
            <li><a href="#"></a></li>
            <li><i class="fa fa-angle-right"></i></li>
        </ol>
    </div>
    <div class="button ml-5 mt-2">
        <button onclick="printDiv()" class="btn btn-primary">Print Admit Card</button>
    </div>

    {{--        <!-- Main content -->--}}
           <div class="content">

               <div class="row"  id="printContent">
                   <div class="col-lg-12 m-b-3">
                       <div class="box box-info">
                           <div class="box-header with-border p-t-1">
                               {{-- <h3 class="box-title text-black">Applicant List</h3> --}}
                               <div class="pull-right">
                               </div>
                           </div>
                           <!-- /.box-header -->
                           <div class="box-body" >
                              <div class="nepali-card" style="border: 2px solid black; padding: 10px;">
                                  <div class="row">
                                     <div class="col-lg-3">
                                        <span class="logo-lg" style="margin-left: 20px"><img src="{{asset('dist/img/logo-n-blue.png')}}" alt="" height="55" /></span> <br></br>
                                        परिचाइ पत्र नम्बर :-      
                                     </div>
                                     <div class="col-lg-6" style="text-align: center; justify-content: center;">
                                        प्रदेश सरकार  </br> सुदूरपश्चिम प्रदेश </br> दशरथचन्द नगरपालिका बैतडी </br>
                                        <div class="identity" style="border: 2px solid black; color:white; background:red; padding: 2px; margin-left:32%; margin-right:32%;">
                                            DISABILITY IDENTITY CARD
                                        </div>

                                    </div>
                                    <div class="col-lg-3">
                                        <div class="img" style="border: 2px solid black; height:100px; width:auto;">
                                        </div>
                                    </div>
                                   
                                    <div class="col-lg-12 mt-2">
                                        <span>Full Name Of Person : - </span> </br>
                                        <span>Address : - Sudurpacshim Province Baitadi District Dashrathchand MP Ward no </span> </br>
                                        <span>Date Of Birth :  </span> 
                                        <span>Citizenship No :  </span> </br>
                                        <span>Sex :  </span> 
                                        <span>Blood Group :  </span> </br>

                                        <span>Type of Disability : on the basis of nature ....... on the basis of    Severity:- </span> </br>
                                        <span>Father Name / Mother Name of Guardian :  </span> </br>
                                        <span>Signature Of Id Holders :  </span> </br>
                                        <span>Approved By :  </span> </br>
                                    </div>
                                    <div class="col-lg-9 mt-2" style="text-align: right;">
                                        <span>Name : - </span> </br>
                                        <span>Signature :-  </span> </br>
                                        <span>Designation :-   </span> </br>
                                        <span>Date :-  </span> </br>
                                    </div>
                                    <div class="col-lg-3 mt-2">
                                       
                                    </div>
                                    </div>
                                  </div>
                              </div>
                              <div class="nepali-card mt-5" style="border: 2px solid black; padding: 10px;">
                                <div class="row">
                                   <div class="col-lg-3">
                                      <span class="logo-lg" style="margin-left: 20px"><img src="{{asset('dist/img/logo-n-blue.png')}}" alt="" height="55" /></span> <br></br>
                                      परिचाइ पत्र नम्बर :-      
                                   </div>
                                   <div class="col-lg-6" style="text-align: center; justify-content: center;">
                                      प्रदेश सरकार  </br> सुदूरपश्चिम प्रदेश </br> दशरथचन्द नगरपालिका बैतडी </br>
                                      <div class="identity" style="border: 2px solid black; color:white; background:red; padding: 2px; margin-left:32%; margin-right:32%;">
                                          DISABILITY IDENTITY CARD
                                      </div>

                                  </div>
                                  <div class="col-lg-3">
                                      <div class="img" style="border: 2px solid black; height:100px; width:auto;">
                                      </div>
                                  </div>
                                 
                                  <div class="col-lg-12 mt-2">
                                      <span>Full Name Of Person : - </span> </br>
                                      <span>Address : - Sudurpacshim Province Baitadi District Dashrathchand MP Ward no </span> </br>
                                      <span>Date Of Birth :  </span> 
                                      <span>Citizenship No :  </span> </br>
                                      <span>Sex :  </span> 
                                      <span>Blood Group :  </span> </br>

                                      <span>Type of Disability : on the basis of nature ....... on the basis of    Severity:- </span> </br>
                                      <span>Father Name / Mother Name of Guardian :  </span> </br>
                                      <span>Signature Of Id Holders :  </span> </br>
                                      <span>Approved By :  </span> </br>
                                  </div>
                                  <div class="col-lg-9 mt-2" style="text-align: right;">
                                      <span>Name : - </span> </br>
                                      <span>Signature :-  </span> </br>
                                      <span>Designation :-   </span> </br>
                                      <span>Date :-  </span> </br>
                                  </div>
                                  <div class="col-lg-3 mt-2">
                                     
                                  </div>
                                  </div>
                                </div>
                            </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>

</div>
<!-- /.content -->
</div>


<script>
    function printDiv() {
        var divContents = document.getElementById("printContent");
        window.print(divContents);
        // var a = window.open('', 'PRINT ADMIT CARD', 'height=800, width=800');

        // a.document.write(divContents.outerHTML);
    }
</script>
</body>
</html>
